
/* Import global font family */
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}

/* Set global font family for all text elements */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: Poppins-Regular;
}

/* Do not allow user to select text on app */
html,
body {
  user-select: none;
}

/* Default view styling */
.view {
  background-color: #000000;
  width: 100%;
  height: 100%;
}


